
div {
    border-radius: 15px;
}


#logo {
    height: 80px;
    width: 80px;
    position: relative;
    left: calc(50% - 40px);
    top: 40px;
}

#verse-div {
    height: 180px;
    text-align: center;
    margin: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 40px;
    top: -10px;
    position: relative;
}

#verse-div > h1 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

#chapter-selection-div {
    padding: 5px;
    border: 10px solid #003925;
    width: 800px;
    height: 530px;
    overflow: hidden;
    background-color: #6cbca0;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    left: calc(50% - 415px);
}

#leaderboard-btn {
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0);
    filter: brightness(25%);
    border: 0px;
    position: fixed;
    right: 5px;
    top: 5px;
}

#leaderboard-btn:hover {
    cursor: pointer;
}

#leaderboard-btn > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#chapter-context-div {
    background-color: #6cbca0;
    border: 10px solid #003925;
    height: 500px;
    width: 500px;
    position: relative;
    padding: 10px 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    left: calc(50% - 290px);
    top: 30px;
}

#chapter-context-div > h1 {
    text-align: center;
    position: relative;
    margin: 30px 0px;
}

#chapter-context-div > p {
    text-indent: 15px;
    font-size: 18px;
    position: relative;
}

#chapter-context-div > p > span {
    white-space: pre-wrap;
}


#continue-div {
    position: relative;
    top: 10px;
    width: 300px;
    height: 100px;
    left: calc(50% - 150px);
}

#points-label {
    font-size: 65px;
    margin-bottom: -25px;
}

#continue-div > * {
    display: block !important;
    text-align: center;
}

#continue-btn {
    width: 120px;
    height: 40px;
    background-color: #008B5B;
    border-radius: 5px;
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    left: calc(50% - 65px);
    position: relative;
    top: 50px;
    color: #f8fcfb;
    background-color: #003925;
    border: 0px solid #f8fcfb;
}

#continue-btn:hover {
    cursor: pointer;
}

mark {
    background-color: #008B5B;
}

#watermark {
    text-align: right;
    font-size: 16px;
    font-weight: 100;
    margin: 5px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    color: #003925;
    z-index: -1;
}

@media (max-height: 850px) or (max-width: 945px) {
    #logo {
        top: 10px;
    }

    #chapter-selection-div {
        width: 600px;
        left: calc(50% - 315px);
        height: 330px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #verse-div {
        height: 150px;
    }

    #verse-div > h1 {
        font-size: 18px;
    }

    #continue-div {
        top: -50px;
    }

    #chapter-context-div {
        top: -50px;
        height: 300px;
    }

    #chapter-context-div > h1 {
        margin: 10px;
    }

    #chapter-context-div > p {
        font-size: 16px;
    }

    #continue-btn {
        top: -30px;
    }
}

@media (max-height: 600px) or (max-width: 650px) {
    #logo {
        top: 0px;
        height: 50px;
        width: 50px;
        left: 5px;
    }

    #chapter-selection-div {
        width: 340px;
        left: calc(50% - 185px);
        height: 45vh;
        top: -20px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #verse-div {
        height: 155px;
        width: 370px;
        padding-top: 20px;
        top: -15px;
    }

    #verse-div > h1 {
        font-size: 15px;
    }

    #continue-div {
        top: -50px;
    }

    #chapter-context-div {
        top: -50px;
        height: 50vh;
        width: 330px;
        left: calc(50% - 185px);
        padding: 10px;
        padding-bottom: 0px;
    }

    #chapter-context-div > h1 {
        margin: 5px 0px -10px 0px;
    }

    #chapter-context-div > p {
        font-size: 16px;
    }

    #continue-btn {
        top: -40px;
    }
}

@media (max-height: 500px) {
    #logo {
        top: 0px;
    }

    #chapter-selection-div {
        width: 580px;
        left: calc(50% - 300px);
        height: 150px;
        overflow-y: scroll;
        overflow-x: hidden;
        top: -50px;
    }

    #verse-div {
        height: 115px;
        width: 570px;
        padding-top: 5px;
        top: -30px;
    }

    #verse-div > h1 {
        font-size: 15px;
    }

    #continue-div {
        top: -85px;
    }

    #chapter-context-div {
        top: -90px;
        height: 140px;
        width: 580px;
        left: calc(50% - 310px);
        padding: 10px;
        padding-bottom: 0px;
    }

    #chapter-context-div > h1 {
        margin: 0px 0px -10px 0px;
        font-size: 16px;
    }

    #chapter-context-div > p {
        font-size: 16px;
    }

    #continue-btn {
        top: -85px;
    }
}