
div {
    border-radius: 15px;
}

#instructions-div {
    background-color: rgba(0, 0, 0, 0.7);
    height: 200px;
    width: 350px;
    position: relative;
    left: calc(50vw - 205px);
    top: calc(45vh - 115px);
    padding: 15px 30px;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#play-btn {
    display: block;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    left: calc(50% - 60px);
    position: relative;
    top: calc(45vh - 100px);
    border: 0px solid;
}

#play-btn:hover {
    cursor: pointer;
}

.testament-btn {
    height: 37.5px;
    width: 200px;
    text-decoration: none;
    color: #f8fcfb;
    font-family: inherit;
    border-top-left-radius: 7.5px;
    border-top-right-radius: 7.5px;
    border: 2.5px solid #f8fcfb;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}

.testament-btn:hover {
    cursor: grab;
}

#ot {
    margin-right: 2.5px;
    margin-left: auto;
    float: center;
}
#nt {
    margin-left: 2.5px;
    margin-right: auto;
    float: center;
}

#testaments-wrapper {
    display: flex;
    justify-content: center;
}

#verse-div {
    height: 180px;
    text-align: center;
    margin: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: top;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 40px;
    top: 60px;
    position: relative;
    border: 2.5px solid #f8fcfb;
    background-color: rgb(0, 0, 0, 0.7);
}

#verse-div > h1 {
    text-align: center;
    font-size: 22px;
    font-weight: 100;
    margin: 10px;
}

#chapter-selection-wrapper {
    width: 830px;
    height: 500px;
    position: relative;
    left: calc(50% - 415px);
    top: 60px;
}
#chapter-selection-div {
    padding: 5px;
    border: 10px solid;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    top: -10px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
}

#leaderboard-btn {
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    position: fixed;
    right: 5px;
    top: 0px;
}

#leaderboard-btn:hover {
    cursor: pointer;
}

#leaderboard-btn > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#chapter-context-div {
    border: 10px solid;
    height: 500px;
    width: 500px;
    position: relative;
    padding: 10px 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    left: calc(50% - 285px);
    top: 30px;
}

#chapter-context-div > h1 {
    text-align: center;
    position: relative;
    margin: 30px 0px;
}

#chapter-context-div > p {
    text-indent: 15px;
    font-size: 20px;
    position: relative;
}

#chapter-context-div > p > span {
    white-space: pre-wrap;
}


#continue-div {
    position: relative;
    top: 10px;
    width: 300px;
    height: 100px;
    left: calc(50% - 150px);
    background-color: rgba(0, 0, 0, 0.7);
}

#points-label {
    font-size: 65px;
    margin-bottom: -25px;
}

#continue-div > * {
    display: block !important;
    text-align: center;
}

#continue-btn {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    left: calc(50% - 60px);
    position: relative;
    top: 50px;
    color: #f8fcfb;
    border: 0px solid;
}

#continue-btn:hover {
    cursor: pointer;
}

#watermark {
    text-align: right;
    font-size: 16px;
    font-weight: 100;
    margin: 5px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}

/* TABLET / SMALL MONITOR */
@media (max-height: 900px) or (max-width: 1200px) {

    #chapter-selection-wrapper {
        width: 600px;
        left: calc(50% - 300px);
        height: calc(80vh - 200px);
    }

    
    #verse-div {
        height: 150px;
    }

    #continue-div {
        top: 5px;
    }

    #chapter-context-div {
        top: 20px;
        height: calc(70vh - 100px);
    }

    #chapter-context-div > h1 {
        margin: 10px;
    }


    #continue-btn {
        top: 30px;
    }
}

/* VERTICAL PHONE */
@media (max-height: 1000px) and (max-width: 600px) {

    #instructions-div {
        width: 300px;
        left: calc(50% - 180px);
    }

    #chapter-selection-div {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .testament-btn {
        font-size: 16px;
    }

    #chapter-selection-wrapper {
        width: 360px;
        left: calc(50% - 180px);
        height: 45vh;
        top: 40px;
    }

    #verse-div {
        height: 170px;
        width: 370px;
        padding-top: 0px;
        top: 40px;
    }

    .testament-btn {
        width: 177.5px;
        font-size: 18px;
    }

    #verse-div > h1 {
        font-size: 20px;
    }

    #continue-div {
        top: 5px;
    }

    #chapter-context-div {
        top: 10px;
        height: 50vh;
        width: 330px;
        left: calc(50% - 185px);
        padding: 10px;
        padding-bottom: 0px;
    }

    #chapter-context-div > h1 {
        margin: 5px 0px -10px 0px;
    }

    #chapter-context-div > p {
        font-size: 18px;
        text-indent: 2.5px;
    }

    #continue-btn {
        top: 15px;
    }
}

/* HORIZONTAL PHONE */
@media (max-height: 600px) and (min-width: 600px) {

    #chapter-selection-div {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #chapter-selection-wrapper {
        width: 580px;
        left: calc(50% - 300px);
        height: calc(75vh - 150px);
        top: 30px;
    }

    #verse-div {
        height: 100px;
        width: 570px;
        padding-top: 0px;
        top: 35px;
    }

    #verse-div > h1 {
        font-size: 20px;
    }

    #continue-div {
        top: 15px;
        height: 70px;
    }

    #chapter-context-div {
        top: 20px;
        height: 130px;
        width: 580px;
        left: calc(50% - 310px);
        padding: 10px;
        padding-bottom: 0px;
    }

    #continue-div > h1 {
        font-size: 40px;
    }

    #chapter-context-div > h1 {
        margin: 5px 0px -15px 0px;
        font-size: 20px;
    }

    #chapter-context-div > p {
        font-size: 18px;
    }

    #continue-btn {
        top: 25px;
    }
}