.auth-container {
    border: 10px solid #f8fcfb;
    background-color: #003925;
    height: 255px;
    width: 300px;
    position: relative;
    left: calc(50% - 170px);
    top: 150px;
    padding: 10px;
    color: white;
}

.auth-container > form > .form-group {
    margin-bottom: 50px;
}

#switch-forms-btn {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 0px;
    text-decoration: underline;
}

.auth-container > form > .form-group > input {
    float: right;
    border: 0px;
    height: 20px;
    border-radius: 2.5px;
    font-family: inherit;
    font-size: 16px;
}
.auth-container > form > .form-group > label {
    float: left;
    height: 20px;
    font-size: 18px;
}

.auth-btn {
    width: 120px;
    height: 30px;
    border-radius: 5px;
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    left: calc(50% - 65px);
    position: relative;
    top: 20px;
    color: #f8fcfb;
    background-color: #003925;
    border: 2.5px solid #f8fcfb;
}

.form-submit-btn {
    top: 40px;
}

#auth-status-label {
    position: absolute;
    font-size: 14px;
    width: calc(100% - 20px);
    text-align: center;
}

.auth-container > h3 {
    text-align: center;
    top: 35px;
    position: relative;
}

.auth-btn:hover { 
    cursor: pointer;
}