.chapters-grid {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, 150px);
    gap: 5px;
    padding-top: 10px;
}

.section-title {
    text-align: center;
    margin-bottom: 10px;
}

.chapter-div {
    display: inline-block;
    font-family: inherit;
    background-color: #003925;
    border: 2.5px solid #f8fcfb;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    color: #f8fcfb;
}

.chapter-div:hover {
    cursor: pointer;
}

.chapter-div > h1 {
    font-size: 22px;
    text-align: center;
    position: relative;
    top: -10px;
}

.chapter-div > h1:hover {
    cursor: pointer;
}

/* SMALL MONITOR / TABLET */
@media (max-height: 900px) or (max-width: 1200px) {
    .chapters-grid {
        grid-template-columns: repeat(5, 105px);
    }
    .chapter-div {
        width: 105px;
    }
}

/* VERTICAL PHONE */
@media (max-height: 1000px) and (max-width: 600px) {
    .chapters-grid {
        grid-template-columns: repeat(4, 80px);
        gap: 4px;
    }

    .chapter-div {
        width: 80px;
        height: 35px;
        
    }

    .chapter-div > h1 {
        font-size: 20px;
    }


}

/* HORIZONTAL PHONE */
@media (max-height: 600px) and (min-width: 600px) {
    .chapters-grid {
        grid-template-columns: repeat(6, 80px);
        gap: 5px;
    }
}