@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Black+Ops+One&family=Niconne&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;600&family=Trispace:wght@500&display=swap');


h1:hover { cursor: default; }
h2:hover { cursor: default; }
h3:hover { cursor: default; }
h4:hover { cursor: default; }
h5:hover { cursor: default; }
h6:hover { cursor: default; }
p:hover { cursor: default; }

#root {
    position: fixed;
    overflow: hidden;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    font-family: "Times New Roman";
    background-image: url("../images/horizontal-bg.jpeg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* VERTICAL PHONE */
@media (max-height: 1000px) and (max-width: 600px) {
    #root {
        background-image: url("../images/vertical-bg.jpeg");
    }
}