#nav-div {
    height: 30px;
    width: 200px;
    position: fixed;
    right: 35px;
    margin: 15px;
}

.nav-btn {
    margin-right: 10px;
    margin-left: 25px;
    right: 0px;
    position: relative;
    float: right;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: inherit;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
}

.nav-btn:hover {
    cursor: pointer;
}
