.bg-0 { background-color: #f8fcfb !important; }
.bg-1 { background-color: #28104E !important; }
.bg-2 { background-color: #6237A0 !important; }
.bg-3 { background-color: #9754CB !important; }
.bg-4 { background-color: #dfc2f3 !important; }

.border-0 { border-color: #f8fcfb !important; }
.border-1 { border-color: #28104E !important; }
.border-2 { border-color: #6237A0 !important; }
.border-3 { border-color: #9754CB !important; }
.border-4 { border-color: #dfc2f3 !important; }

.text-0 { color: #f8fcfb !important; }
.text-1 { color: #28104E !important; }
.text-2 { color: #6237A0 !important; }
.text-3 { color: #9754CB !important; }
.text-4 { color: #dfc2f3 !important; }

/* purple: #28104E #6237A0 #9754CB #dfc2f3*/
/* blue: #051c4a #032e66 #134b83 #307fa6*/
